<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head', { title: 'Añadir Correo | GusMailer'}) %>
  </head>
  <body>
    <main>
      <form action="/add" method="post">
        <% if (info) { %>
         <p class="info"><%= info %></p>
        <% } %>
        <% if (error) { %>
         <p class="error"><%= error %></p>
        <% } %>
        
        <h1 id="form-title"><span>Gus</span><span>Mailer</span></h1>
        <label for="project">Nombre del Proyecto</label>
        <input type="text" name="project" id="project" />

        <label for="variables">Variables del Email (separados por punto y coma)</label>
        <input type="text" name="variables" id="variables">

        <label for="text">Cuerpo del correo (usar sintaxis html)</label>
        <textarea name="text" id="text"></textarea>

        <input type="submit" value="Añadir" class="button-form">
      </form>
      <a href="/" class="button-link">Inicio</a>
    </main>
  </body>
</html>
